/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
	a img	{ border:0px;	}
	
	a.icon-hover:hover	{
		border-bottom:1px solid #000;
	}

	.size-10	{	font-size:10px;	}
	.size-11	{	font-size:11px;	}
	.size-12	{	font-size:12px;	}
	
	.td-underline	{	text-decoration:underline;	}
	
/* -----------------------------------------
   Page Name 1
----------------------------------------- */
	.navigation	{	
		margin-top:-17px;
		background-color:#FAF1D1;
		padding:6px 6px 6px 6px;
		max-height:30px;
		z-index:99999px;
		width:100%;
	}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */
	
	.fnc.close-reveal-modal { font-size: 11px; line-height:1.5; position:static; color: #000; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); font-weight: bold; cursor: pointer; }
	a.link {  position:static; color: #000; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); font-weight: bold; cursor: pointer; }
	input[readonly] { background-color:#F1EFEF;	}
/* -----------------------------------------
   Table
----------------------------------------- */
	.transparent.label { background-color:transparent; }

	/* Data Table */
	table.dataTable {
		margin: 0 auto;
		clear: both;
		width: 100%;
		border-spacing:0px;
	}
	
	table.dataTable thead th {
		background-color:#4d4d4d;
		color:#FFF;
		text-transform:uppercase;
		font-size:12px;
		text-shadow:1px 0px 1px #ccc;
		padding:4px;
	}
	
	table.dataTable tfoot th {
		padding: 3px 18px 3px 10px;
		border-top: 1px solid black;
		font-weight: bold;
	}
	
	table.dataTable td {
		border-bottom:1px solid #000; 
		border-right:1px solid #000;
		margin:0px;
		padding:3px 3px;	
	}
	
	table.dataTable td.center,
	table.dataTable td.dataTables_empty {
		text-align: center;
	}
	
	
	
	table.dataTable tr.odd td.sorting_1 { background-color: #DFDFDF; }
	table.dataTable tr.even td.sorting_1 { background-color: #F0F0F0; }
	
	table.dataTable tbody tr:hover { background-color:#FBF9B7; }
	table.dataTable tr.odd td.sorting_1:hover { background-color: #FBF9B7; }
	table.dataTable tr.even td.sorting_1:hover { background-color: #FBF9B7; }
	
	


	.dataTables_wrapper {
		position: relative;
		clear: both;
		*zoom: 1;
	}
	.dataTables_length { float: left; }
	.dataTables_filter {
		float: right;
		text-align: right;
	}
	.dataTables_info {
		clear: both;
		float: left;
	}
	.dataTables_paginate {
		float: right;
		text-align: right;
	}
	.paginate_disabled_previous,
	.paginate_enabled_previous,
	.paginate_disabled_next,
	.paginate_enabled_next {
		height: 19px;
		float: left;
		cursor: pointer;
		*cursor: hand;
		color: #111 !important;
	}
	.paginate_disabled_previous:hover, .paginate_enabled_previous:hover, .paginate_disabled_next:hover, .paginate_enabled_next:hover { text-decoration: none !important; }
	.paginate_disabled_previous:active, .paginate_enabled_previous:active, .paginate_disabled_next:active, .paginate_enabled_next:active { outline: none; }
	.paginate_disabled_previous, .paginate_disabled_next { color: #666 !important; }
	.paginate_disabled_previous, .paginate_enabled_previous { padding-left: 23px; }
	.paginate_disabled_next, .paginate_enabled_next { padding-right: 23px; margin-left: 10px; }
	
	/* Full number pagination */
	.paging_full_numbers { height: 22px; line-height: 22px; }
	.paging_full_numbers a:active { outline: none; }
	.paging_full_numbers a:hover { text-decoration: none; }
	
	/* Processing indicator */
	.dataTables_processing {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 250px;
		height: 30px;
		margin-left: -125px;
		margin-top: -15px;
		padding: 14px 0 2px 0;
		border: 1px solid #ddd;
		text-align: center;
		color: #999;
		font-size: 14px;
		background-color: white;
	}
	
	/* Sorting */
	table.dataTable th:active { outline: none; }
	
	/* Scrolling */
	.dataTables_scroll { clear: both; }
	.dataTables_scrollBody {
		*margin-top: -1px;
		-webkit-overflow-scrolling: touch;
	}
	a.selector { position: absolute; width: 26px; height: 26px; display: block; 
	background: url(../images/misc/custom-form-sprites.png) -14px 1px no-repeat; 
	right: 0; top: 0; border: solid 1px #ddd; }
	a.selector, a.selector { background-position: -14px -26px; }


	
	
	
	/* Datepicker */
	
	.datepicker { border-collapse: collapse; border: 2px solid #999; position: absolute; z-index:9999; min-height:100px; max-height:100px; }
	.datepicker tr.controls th { padding: 1px; height: 22px; font-size: 11px; }
	.datepicker select { font-size: 11px; }
	.datepicker tr.days th { height: 18px; }
	.datepicker tfoot td { padding: 1px; height: 18px; text-align: center; text-transform: capitalize; }
	.datepicker th, .datepicker tfoot td { background: #eee; font: 10px/18px Verdana, Arial, Helvetica, sans-serif; }
	.datepicker th span, .datepicker tfoot td span { font-weight: bold; }
	.datepicker select	{ max-width:80px;	}
	
	.datepicker tbody td { padding: 1px; width: 24px; height: 24px; border: 1px solid #ccc; font: 11px/22px Arial, Helvetica, sans-serif; text-align: center; background: #fff; }
	.datepicker tbody td.date { cursor: pointer; }
	.datepicker tbody td.date.over { background-color: #99ffff; }
	.datepicker tbody td.date.chosen { font-weight: bold; background-color: #ccffcc; }
	
	
	
	
	
	
	/* toltip */
	
	.has-tip {
	  border-bottom: dotted 0px #ccc;
	  cursor: help;
	  font-weight: bold;
	  color: #333;
	}
	.has-tip:hover {
	  border-bottom: dotted 0px #0593dc;
	  color: #F33;
	}
	a.has-tip {
	  border-bottom: dotted 0px #ccc;
	  cursor: pointer;
	  font-weight: bold;
	  color: #333;
	}
	a.has-tip:hover {
	  border-bottom: dotted 0px #0593dc;
	  color: #F33;
	}